html {
    font-size: 10px;
    background: url('https://static.vecteezy.com/system/resources/previews/000/692/349/original/farm-fields-in-minimal-and-flat-art-work-style-vector.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .animalPictures{
    height: 300px;
    margin-bottom: 1%;
    display: flex;
    margin: 0;
    align-items: center;
    text-align: center;
  }


  img {
    width: 300px;
    margin: auto;
    display: block;
  }

  #imageDuck {
    display: none;
}

  #imagePig {
      display: none;
  }

  #imageHorse {
      display: none;
  }

  #imageCow {
      display: none;
  }

  #imageCow {
      display: none;
  }

  #imageGoat {
      display: none;
  }

  #imageChicken {
      display: none;
      height: 250px;
      width: 250px;
  }

  
  .instruments {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .key {
    border: 2px solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .85s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }

  
  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }